﻿@{
    ViewData["Title"] = "Home";
}
<div class="row">
    <div class="col-md-12">
        <h1>Hello, <small>Welcome to the Darth Dog's Music Vault</small></h1>        
        <ul class="list-group">
            <li class="list-group-item">
                <span class="badge">@ViewBag.NumberOfArtists</span>
                Number of artists
            </li>
            <li class="list-group-item">
                <span class="badge">@ViewBag.NumberOfAlbums</span>
                Number of albums
            </li>
        </ul>
    </div>
</div>
